.footerLink {
  margin-bottom: 0.25rem;
  color: #000;
  font-size: 1.56rem;
  text-decoration: none;

  &:hover {
    color: #fff;
    transform: scale(1.01);
    // text-decoration: underline;
  }

  &:active {
    transform: scale(1);
  }
}
