@font-face {
  font-family: Aleo;
  src: url('/fonts/Aleo/Aleo-Regular.ttf');
}

@font-face {
  font-family: Aleo-bold;
  src: url('/fonts/Aleo/Aleo-Bold.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* Todo: avoid importat */
	font-family: Aleo !important;
}