.home-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home-background-image {
  position: absolute;
  object-fit: cover;
}

.logo-container {
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  z-index: 1;
}

.logo-text {
  margin-top: -12px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 1.56rem;
}

.about-section {
  overflow-x: hidden; // Hide danzante image overflow
  position: relative;
  height: 531px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D94E41;
  color: #fff;
  text-align: center;

}

.raicesdelpueblo-container {
  position: absolute;
  left: 0;
  top: 10px;
}

.juyaania-container {
  position: absolute;
  left: 30px;
  top: 215px;
}

.about-content {
  max-width: 43rem;
  overflow-x: hidden;
  margin-bottom: 3rem;
  z-index: 1;
}

.about-title {
  font-family: Aleo-bold, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about-text {
  font-size: 1.56rem;
  line-height: 30px;
}

.danzante-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -32px;
}

.location-section {
  display: flex;
  justify-content: space-between;
  background-color: #EDE4DF;
}

.location-container {
  margin-top: 5.15rem;
  margin-left: 3rem;
  z-index: 1;
}

.location-title {
  margin-bottom: 1rem;
  font-family: Aleo-bold, sans-serif;
  font-size: 1.875rem;
}

.location-text {
  margin-bottom: 4rem;
  font-size: 1.56rem;
  line-height: 30px;
}

.address-text {
  max-width: 23rem;
}

.suscription-section {
  position: relative;
  height: 531px;
  background-color: #EDE4DF;
}

.suscription-raices-container {
  position: absolute;
  left: 0;
  bottom: -125px;
}

.red-symbol-container {
  position: absolute;
  top: -50px;
  left: 35px;
}

.tusimmabewaa-container {
  position: absolute;
  top: 0;
  right: 160px;
}

.juyaania-suscription-container {
  position: absolute;
  right: 0;
  bottom: -90px;
}

.suscription-content {
  padding-top: 16.53rem;
  margin-left: 10rem;
  position: relative;
  z-index: 1;
}