.homeSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('/images/fondo.png');
  background-size: cover;
}

.logoContainer {
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.logoText {
  margin-top: -12px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 1.56rem;
}

.aboutSection {
  overflow-x: hidden; // Hide danzante image overflow
  position: relative;
  height: 531px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D94E41;
  color: #fff;
  text-align: center;

}

.raicesDelPuebloContainer {
  position: absolute;
  left: 0;
  top: 10px;
}

.juyaAniaContainer {
  position: absolute;
  left: 30px;
  top: 215px;
}

.aboutContent {
  max-width: 43rem;
  overflow-x: hidden;
  margin-bottom: 3rem;
  z-index: 1;
}

.aboutTitle {
  font-family: Aleo-bold;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.aboutText {
  font-size: 1.56rem;
  line-height: 30px;
}

.danzanteContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -32px;
}

.locationSection {
  display: flex;
  justify-content: space-between;
  background-color: #EDE4DF;
}

.locationContainer {
  margin-top: 5.15rem;
  margin-left: 3rem;
  z-index: 1;
}

.locationTitle {
  margin-bottom: 1rem;
  font-family: Aleo-bold;
  font-size: 1.875rem;
}

.locationText {
  margin-bottom: 4rem;
  font-size: 1.56rem;
  line-height: 30px;
}

.addressText {
  max-width: 23rem;
}

.suscriptionSection {
  position: relative;
  height: 531px;
  background-color: #EDE4DF;
}

.suscriptionRaicesContainer {
  position: absolute;
  left: 0;
  bottom: -125px;
}

.redSymbolContainer {
  position: absolute;
  top: -50px;
  left: 35px;
}

.tusimmabewaaContainer {
  position: absolute;
  top: 0;
  right: 160px;
}

.juyaAniaSuscriptionContainer {
  position: absolute;
  right: 0;
  bottom: -90px;
}

.suscriptionContent {
  padding-top: 16.53rem;
  margin-left: 10rem;
  position: relative;
  z-index: 1;
}