// TODO: change to tailwindcss
.suscription-section {
  position: relative;
  height: 531px;
  background-color: #ede4df;
}

.suscription-raices-container {
  position: absolute;
  left: 0;
  bottom: -125px;
}

.red-symbol-container {
  position: absolute;
  top: -50px;
  left: 35px;
}

.tusimmabewaa-container {
  position: absolute;
  top: 0;
  right: 160px;
}

.juyaania-suscription-container {
  position: absolute;
  right: 0;
  bottom: -90px;
}

.suscription-content {
  padding-top: 16.53rem;
  margin-left: 10rem;
  position: relative;
  z-index: 1;
}
