.button {
  padding: 1rem;
  border: none;
  background-color: #4981DB;
  color: #fff;
  font-size: 1.56rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  
  &:hover:enabled {
    background-color: #2866c9;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
  
  &:active:enabled {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
  }
  
  &:disabled {
    // background-color: rgba(0, 0, 0, 0.38); // Todo: check which one
    background-color: grey;
  }
}
