.embla {
  margin: auto;
  max-width: 90rem;
  --slide-spacing: 0;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  backface-visibility: hidden;
}
